.box{
  width: 690px;
  height: 270px;
  color: black;
  top: 70%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
}

.input{
    top: 427px;
    left: 412px;
    height: 50px;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    display:flex;
    flex-direction:column;
    align-items:center;
    Justify-content: center;
    display: inline-block;
    outline:none;
    padding: 5px;
    font-weight: bold;
     text-indent: 25px;
    text-align: left;
    font: Medium 31px/40px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    width: 337px;
}
.output{
    top: 427px;
    left: 711px;
    height: 50px;
    display:flex;
    padding: 5px;
    margin-left: 15px;
    flex-direction:column;
    align-items:center;
    Justify-content: center;
    display: inline-block;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 15px;
    text-indent: 25px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    outline:none;
    width: 337px;
}
.outputselect{
    top: 486px;
    left: 717px;
    width: 337px;
    height: 45px;
    margin-left: 15px;
    display:flex;
    font-weight: bold;
    line-height: 15px;
    display:inline-block;
    text-indent: 25px;
    flex-direction:column;
    align-items:center;
    outline:none;
    Justify-content: center;

}
.select{
    top: 471px;
    left: 385px;
    width: 337px;
    height: 45px;
    display:inline-block;
    font-weight: bold;
    text-indent: 25px;
    display:flex;
    line-height: 40px;
    flex-direction:column;
    outline:none;
    align-items:center;
    Justify-content: center;

}
.form{

  overflow-x: auto;
  overflow-y: hidden;;
  display: inline-block;
}

 @media only screen and (max-width: 1024px) {
        .input,.select,.output,.outputselect{
            width: 230px;
            margin-right: 20px;
            padding: 10px;
        }
        .box{
            width: 690px;
            left: 60%;
        }
}
@media screen and (device-width: 360px) 
  {
      .form{
        width: 60px;
        margin-top: 20px;
        margin-right: 20px;
        padding: 6px;
      }
      .input,.select,.output,.outputselect{
            width: 10px;
            margin-top: 20px;
            margin-right: 20px;
            padding: 6px;
        }
    .box{
            width: 400px;
            height: 270px;
        }
}
